.app {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 75%;
  margin: 5%;
}

@media only screen and (max-width: 768px) {
  .app-container {
    font-size: 0.9em;
    height: 70%;
  }
}

@media only screen and (min-width: 992px) {
  .app-container {
    width: 60%;
  }
}

pre {
  font-size: 0.75em;
}